:root{
    --color-60:#e17570;
    --color-30:#F0F0F1;
    --color-10:#15CDCA;
    --color-text:#437bea;
}

.nav{
    /* background-color: #999ca3; */
    background-color: var(--color-text);
    display: flex;
    flex-wrap: wrap;
    padding:30px;
    padding-top: 35px;
    padding-bottom: 35px;
    /* color:white; */
    color: var(--color-30);
    justify-content: space-between;
    align-items: center;
}

.nav button{
    padding: 20px;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(45deg, #e7bfbf, transparent);
    border: none;
    border-bottom: red solid 3px;
    color:white;
    font-size: 1.3rem;
    font-weight: 800 ;
}